div.header-bg {
  height: 100vh;
  background: #028090;
  background: -webkit-linear-gradient(#028090, #02c39a);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#028090, #02c39a);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#028090, #02c39a);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#028090, #02c39a);
  /* Standard syntax */ }
  div.header-bg div.story-content {
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    color: #ffffff;
    width: 600px; }
    div.header-bg div.story-content #name {
      font-size: 6em;
      font-weight: 500; }
    div.header-bg div.story-content p {
      font-size: 1.5em; }
